/* Smaller devices (smartphone, up to 767px) */
@media (max-width: 767px) {
    body {
        font-size: 13px;
    }
    h5{
        font-size: 14px;
    }
    h3{
        font-size: 16px;
    }
    .container .col-xs-12 {
        width: calc(100% - 20px);
        margin-left: 10px;
        padding: 0;
    }
    #logo.index{
        width: 320px!important;
        margin-top: 10%!important;
        margin-bottom: 10%!important;
    }
    #logo img{
        margin-left: -5px;
    }
    #logo.page{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: calc(6% - 1px);
    }
    #login{
        padding: 20px;
    }
    .payoff{
        margin: 6% 0;
    }
    .header, #head{
        margin-top: 0!important;
    }
    #head form{
        width: 100%;
        float: none;
    }
    #head p {
        margin-top: -2px;
        font-size: 1em;
    }
    .btn-head{
        margin-left: 8px !important;
        padding: 0;
        width: 36px;
        text-align: center;
        line-height: 3em;
        font-size: 100%;
    }
    .btn-head .glyphicon{
        margin-left: 0;
    }
    .first{
        margin-left: 0!important;
    }
    .carousel-control .glyphicon {
        top: calc(100% - 40px);
    }
    .top-sellers .top img, .consigliati .consigliato img{
        max-height: none;
        max-width: 100%;
        height: auto;
        margin-top: -10%;
    }
    .top-sellers .top .wrapper, .consigliati .consigliato .wrapper{
        max-height: 150px;
    }
    .top-sellers .top .text, .consigliati .consigliato .text{
        padding: 10px;
    }
    #footer{
        margin-top: 32px;
    }
    #footer .btn-promo{
        margin: 0;
    }
    #footer .second img{
        margin-bottom: 16px;
    }
}

/* Small devices (smartphone or tablet, 768px and up) */
@media (min-width: 768px) and (max-width:  991px) {
    #head form{
        width: 120px;
    }
    .btn-head{
        margin-left: 8px !important;
        padding: 0;
        width: 36px;
        text-align: center;
        line-height: 2.6em;
    }
    .menu li {
        margin-left: 8px;
    }
    .menu .promo {
        font-size: 16px;
        margin-top: -2px;
    }
    .sidebar .carousel-caption .text {
        width: 100%;
    }
}

/* Medium devices (tablet or laptop, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    #head form{
        width: 150px;
    }
    .sidebar .carousel-caption .text {
        width: 100%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #footer{
        margin-top: 118px;
    }
}

/* Extra Large devices (extra large desktops, 1600px and up) */
@media (min-width: 1600px) {
    #head form{
        width: 45%;
    }
}