h5{
    color: #000;
}
h5 a{
    margin-left: 8px;
}
#promo{
    color: #FFFFFF;
    padding: 6px 0;
    font-size: 1.25em;
}
#logo.index{
    width: 350px;
    float: none;
    margin-top: 3%;
    margin-bottom: 3%;
}
#logo.page {
    padding-right: 6%;
}
#logo img{
    width: 100%;
    margin-left: -8px;
}
#login{
    background-color: #FFF;
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.modal-body a{
    color: #666!important;
    text-decoration: underline;
}
.modal-body a:hover{
    color: #ED1B24!important;
}
.input-icon{
    margin-top: -29px;
    position: absolute;
    right: 16px;
}
.input-hidden {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}
.glyphicon{
    font-size: 20px;
    color: #666;
    -moz-osx-font-smoothing: grayscale;   /* Firefox */
    -webkit-font-smoothing: antialiased; /* WebKit  */
}
.payoff{
    margin: 2% 0;
}
.header, .menu, .content{
    margin-top: 32px;
}
#head{
    margin-top: 22px;
}
#head p {
    margin-top: -3px;
    margin-bottom: 0;
}
#head form{
    float: left;
}
.btn-head {
    border: 1px solid #CCC;
    height: 36px;
    display: inline-block;
    margin-left: 16px;
    padding: 0 10px;
    line-height: 2.4em;
    color: #666 !important;
}
.btn-head .glyphicon{
    font-size: 1.2em;
    margin-left: 2px;
}
.first{
    margin-left: 0!important;
}
.btn-head.first {
    background-color: #666;
}
.btn-head.first .glyphicon{
    color: #FFF !important;
}

.space{
    height: 32px;
}

/*HAMBURGER MENU STYLE*/
.sidebar-offcanvas{-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: calc(100% - 10px);
    background-color: #666;
    z-index: 51;
    margin: 0; padding: 0;
    position: fixed;
    top:50px;
    left: -100%;
    padding: 10px;
    padding-left: 20px;
}
.active {
    left: 0;
}
.sidebar-offcanvas .nav{
    margin: 0;
    padding: 0;
}
.sidebar-offcanvas ul li{
    margin: 0;
    list-style-type: none;
}
.sidebar-offcanvas a{
    color: #ccc!important;
    font-size: 16px;
    line-height: 40px;
}
.sidebar-offcanvas .active a{
    color: #fff!important;
    font-weight: 600;
}
#collapseOne a {
    font-size: 15px;
    line-height: 38px;
}
.panel .level-1 a{
    padding-left: 10px;
}
.panel .level-2 a{
    padding-left: 20px;
}
.panel a span{
    color: #ccc;
    font-size: 87%;
}
.panel .active a span{
    color: #fff;
}
.sidebar-offcanvas .btn-danger {
    height: 40px;
    line-height: 40px;
    display: block;
    width: calc(100% + 30px);
    margin-left: -20px;
    margin-bottom: -10px;
    margin-top: 40px;
    font-weight: 700;
    color: #FFF!important;
}
.sidebar-offcanvas .btn-danger .glyphicon {
    color: #FFF;
}
/*HAMBURGER MENU STYLE END*/

.menu .nav {
    padding: 0 8px;
}
.menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 16px;
}
.menu li a{
    color: #666!important;
}
.menu .active a{
    color: #000!important;
    font-weight: 600;
}
.menu .promo {
    font-size: 20px;
    font-weight: 700;
    margin-top: -5px;
}
.menu .promo .glyphicon {
    color: #ED1B24;
}
.menu .dropdown .glyphicon {
    font-size: 87%;
}
.menu .dropdown li {
    display: block;
    margin-left: 0;
}
.menu .dropdown li a {
    font-size: 14px;
    line-height: 23px;
}
.menu .dropdown .disabled {
    color: #000!important;
}
.menu .dropdown .disabled:hover {
    background: none;
}

.carousel-control .glyphicon{
    color: #FFF;
    top: calc(100% - 33px);
    padding: 0 10px;
}

.sidebar .menu{
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
}
.sidebar .menu li{
    margin: 0;
    display: block;
    padding: 9.25px 16px;
}
.sidebar .menu .divider {
    height: 1px;
    background-color: #CCC;
    padding: 0!important;
}
.sidebar .menu .disabled{
    background-color: #f1f1f1;
}
.sidebar .menu .disabled a{
    color: #000!important;
}
.sidebar .carousel{
    margin-top: 32px;
    margin-bottom: 64px;
}
.sidebar .carousel-control .glyphicon {
    top: calc(50% - 20px);
    background-color: rgba(0,0,0,0.6);
    height: 30px;
    line-height: 30px;
    width: 30px;
    padding: 0 5px;
}
.sidebar .carousel-caption {
    padding: 0;
    background-color: #57AB27;
}
.sidebar .carousel-caption .text {
    display: inline-block;
    min-width: 60%;
    background-color: #f1f1f1;
    color: #000;
    padding: 10px 16px;
}
.sidebar .carousel-caption .price {
    display: inline-block;
    min-width: 40%;
    background-color: #57AB27;
    color: #FFF;
    padding: 10px 16px;
    vertical-align: top;
}
.sidebar .carousel-caption .barrato {
    text-decoration: line-through;
}
.sidebar .carousel-caption .scontato {
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 700;
    margin: 0 3px 0 10px;
}